<!-- [부트 스트랩 클래스 속성 설명]-->
<!-- my, py : 상하 마진, 패딩값 / d-flex justify-content-end : 컴포넌트 우측 정렬 -->
<!-- bg-color : 배경 색깔(background), text-start : 좌측 정렬, btn-btn-primary : 부트스트랩 버튼 컴포넌트-->

<html layout:decorate="~{layout}">
<!-- 부모 템플릿 상속 -->
    <div layout:fragment="content" class="container my-3">
        <!-- 질문 -->
        <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
        <div class="card my-3">
            <div class="card-body">
                <!-- commonUtil.markdown :: 질문 텍스트에 마크다운 문법 적용 -->
                <div class="card-text" 
                    th:utext="${@commonUtil.markdown(question.content)}"></div>
                <div class="d-flex justify-content-end">
                    <div th:if="${question.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                        <div class="mb-2">질문 수정일자</div>
                        <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                        </div>
                        <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
                <!-- 추천/ 비추천, 수정, 삭제 -->
                <div class="my-3">
                    <!-- 클래스 속성에 recommend 추가해 data-uri 호출 -->
                    <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                        th:data-uri="@{|/question/vote/${question.id}|}">
                        따봉
                        <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
                    </a>
                    <a href="javascript:void(0);" class="unrecommend btn btn-sm btn-outline-secondary"
                        th:data-uri="@{|/question/unvote/${question.id}|}">
                        비추
                        <span class="badge rounded-pill bg-danger" th:text="${#lists.size(question.unvoter)}"></span>
                    </a>
                    <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                        sec:authorize="isAuthenticated()"
                        th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                        th:text="수정">
                    </a>
                    <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"
                        class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                        th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                        th:text="삭제">
                    </a>
                </div>
            </div>
        </div>
        <!-- 질문 끝-->
        <!-- 답변의 갯수 표시 -->
        <h5 class="border-bottom my-3 py-2" 
            th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
                <!-- #lists.size : 이터러블 객체, 타임리프 제공 유틸리티로 객체 길이 반환 -->
        <!-- 답변 반복 시작 -->
        <div class="card my-3" th:each="answer : ${question.answerList}">
            <!-- 각 답변 앵커(스크롤 유지) -->
            <a th:id="|answer_${answer.id}|"></a>
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;" th:text="${answer.content}"></div>
                <div class="d-flex justify-content-end">
                    <div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                        <div class="mb-2">답변 수정일자</div>
                        <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                        </div>
                        <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
                <!-- 추천/비추천, 수정, 삭제 -->
                <div class="my-3">
                    <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                        th:data-uri="@{|/answer/vote/${answer.id}|}">
                        따봉
                        <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
                    </a>
                    <a href="javascript:void(0);" class="unrecommend btn btn-sm btn-outline-secondary"
                        th:data-uri="@{|/answer/unvote/${answer.id}|}">
                        비추
                        <span class="badge rounded-pill bg-danger" th:text="${#lists.size(answer.unvoter)}"></span>
                    </a>
                    <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                        sec:authorize="isAuthenticated()"
                        th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                        th:text="수정">
                    </a>
                    <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
                        class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                        th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                        th:text="삭제">
                    </a>
                </div>
            </div>
        </div>
        <!-- 답변 반복 끝  -->
        <!-- 답변 작성 -->
        <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
            <!-- post method : 해당 form 버튼 클릭 시 해당 URL로 리디렉션-->
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            <!-- 타임리프 th:replace :: div element를 form_errors.html에서
                 th:fragment 속성명 formErrorsFragment인 놈으로 교체해라-->
            <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="10" class="form-control"></textarea>
            <!-- 로그아웃 시 답변 등록 필드 disabled -->
            <textarea sec:authorize="isAuthenticated()" th:field="*{content}" rows="10" class="form-control"></textarea>
            <!-- th:field :: 해당 태그의 id, name, value 속성 자동 생성, 타임리프가 오류 생성 시에도
            기존 입력한 값이 유지되게끔 함 -->
            <input type="submit" value="답변등록" class="btn btn-primary my-2">
        </form>
    </div>
    <script layout:fragment="script" type='text/javascript'>
        // 질문 삭제 자바스크립트 : className : "delete"
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 질문을 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });
        // 추천 자바스크립트 : className "recommend"
        const recommend_elements = document.getElementsByClassName("recommend");
        Array.from(recommend_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 추천하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });
        // 추천 자바스크립트 : className "recommend"
        const unrecommend_elements = document.getElementsByClassName("unrecommend");
        Array.from(unrecommend_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 비추천하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });
    </script>
</html>


  
