<html layout:decorate="~{layout}">
<!-- 부모 템플릿 상속 -->
<div layout:fragment="content" class="container">
    <form th:object="${questionForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <!-- th:action 삭제 시 csrf 자동생성 X, 수동으로 추가 -->
    <!-- action 속성 없이 폼 전송 시 폼 action은 현재의 URL 기준으로 전송 -->
    <!-- 즉, 질문 등록 시 브라우저 표시 URL은 /question/create이므로 -->
    <!-- post로 폼 전송 시 action 속성에 -> /question/create 설정 -->
    <!-- 질문 수정시에 표시되는 url은 /question/modify/2 -->
    <!-- <form th:action="@{/question/create}" th:object="${questionForm}" method="post"> -->
    <!-- 오류 표시를 위해선 th.object를 questionForm 객체에서 받아와야 함 -->
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <!-- 타임리프 th:replace :: div element를 form_errors.html에서
            th:fragment 속성명 formErrorsFragment인 놈으로 교체해라 -->
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" th:field="*{subject}" class="form-control" placeholder="글 제목">
            <!-- th:field :: 해당 태그의 id, name, value 속성 자동 생성, 타임리프가 오류 생성 시에도
            기존 입력한 값이 유지되게끔 함 -->
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" class="form-control" rows="10" placeholder="글 내용 (본문은 마크다운을 지원합니다.)"></textarea>
            <!-- th:field :: 해당 태그의 id, name, value 속성 자동 생성, 타임리프가 오류 생성 시에도
            기존 입력한 값이 유지되게끔 함 -->
        </div>
        <input type="submit" value="저장하기" class="btn-btn-primary my-2">
    </form>
</div>
</html>