<html layout:decorate="~{layout}">
<!-- 부모 템플릿 상속 -->
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom py-2">질문 등록하기</h5>
    <form th:action="@{/question/create}" th:object="${questionForm}" method="post">
    <!-- 오류 표시를 위해선 th.object를 questionForm 객체에서 받아와야 함 -->
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <!-- 타임리프 th:replace :: div element를 form_errors.html에서
            th:fragment 속성명 formErrorsFragment인 놈으로 교체해라-->
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" th:field="*{subject}" class="form-control">
            <!-- th:field :: 해당 태그의 id, name, value 속성 자동 생성, 타임리프가 오류 생성 시에도
            기존 입력한 값이 유지되게끔 함 -->
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
            <!-- th:field :: 해당 태그의 id, name, value 속성 자동 생성, 타임리프가 오류 생성 시에도
            기존 입력한 값이 유지되게끔 함 -->
        </div>
        <input type="submit" value="저장하기" class="btn-btn-primary my-2">
    </form>
</div>
</html>