<html layout:decorate="~{layout}">
<!-- 타임리프 layout:decorate :: 부모 템플릿으로 사용할 레이아웃 설정(layout.html)-->
    <div layout:fragment="content">
    <!-- 타임리프 layout:fragment :: 부모 템플릿의 layout:fragment를 자식 템플릿의 내용으로 교체-->
        <div class="row my-3">
            <div class="col-6">
                <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
            </div>
            <!--검색 텍스트창 시작 -->
            <div class="col-6">
                <div class="input-group">
                    <!-- 하단 id searchForm으로 get 방식으로 받을 value 전달 : kw -->
                    <input type="text" id="search_kw" class="form-control" th:value="${kw}"
                    placeholder="검색어를 입력하세요">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                </div>
            </div>
            <!-- 검색 텍스트 창 끝 -->
        </div>
        <table class = "table">
            <thead class ="table-dark">
                <tr class="text-center">
                    <th>번호</th>
                    <th style="width:50%">제목</th>
                    <th>글쓴이</th>
                    <th>작성일시</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" th:each="question, loop : ${paging}">
                <!-- 타임리프는 Model 객체에 저장된 값을 읽을 수 있어 paging 사용이 가능함.-->
                <!--th:each로 tr 내 question은 paging을 for each loop-->
                    <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                    <td class="text-start">
                        <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                        <!--타임리프 링크 주소는 th:href 속성 사용-->
                        <!--타임리프 URL주소는 반드시 @{주소}로 입력-->
                        <!--타임리프는 문자열을 연결할 때 | 문자를 사용함-->
                            <!--ex ) "question/detail 같은 문자열과 ${question.id} 같은 객체는 ||로 좌우 감싸줘야함"-->
                        
                        <!-- 게시판 글 답변 목록 표시 시작 -->
                        <span class="text-danger small ms-2"
                            th:if ="${#lists.size(question.answerList) > 0}"
                            th:text="${#lists.size(question.answerList)}">
                        </span>
                        <!-- 게시판 글 답변 목록 표시 끝-->
                    </td>
                    
                    <td>
                        <!-- 작성자 정보가 없는 경우 제외 작성자 표시 -->
                        <span th:if="${question.author != null}" 
                        th:text="${question.author.username}"></span>
                    </td>                    
                    <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                        <!-- temporals.format(날짜객체, 날짜포맷) 날짜포맷에 맞게 변환-->
                </tr>
            </tbody>
        </table>
        <!-- 페이징처리 시작 -->
        <div th:if="${!paging.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                   <a class="page-link" th:href="@{?page=0}">
                        <span>◀◀</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <!-- 이전 페이지 없으면 비활성화 -->
                    <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                        <!-- 이전 페이지 링크 , 검색어와 페이지 번호 전송을 위해 URL 링크 -> 폼으로 설정-->
                        <span>◀</span>
                    </a>
                </li>
                <!-- 페이지 리스트 루프 -->
                <!-- 페이지 리스트가 현재 페이지 기준으로 좌우 5개씩 보이도록 만듦 -->
                <li th:each="page: ${#numbers.sequence(1, paging.totalPages-1)}" 
                    th:if="${page >= paging.number and page < paging.number+4}"
                    th:classappend="${page == paging.number} ? 'active'" 
                    class="page-item">
                    <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <!-- 다음 페이지 없으면 비활성화 -->
                    <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                        <!-- 다음 페이지 링크, 검색어와 페이지 번호 전송을 위해 URL 링크 -> 폼으로 설정-->
                        <span>▶</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link"
                         th:href="@{|?page=${paging.totalPages-1}|}">
                         <span>▶▶</span>
                     </a>
                 </li>
            </ul>
        </div>
        <!-- 페이징처리 끝 -->
        <!-- 검색 폼 -->
        <form th:action="@{/question/list}" method="get" id="searchForm">
        <!-- get 방식으로 요청, action 속성으로 /question/list으로 폼 전송 -->
            <input type="hidden" id="kw" name="kw" th:value="${kw}">
            <input type="hidden" id="page" name="page" th:value="${paging.number}">
        </form>
    </div>
    <script layout:fragment="script" type='text/javascript'>
        const page_elements = document.getElementsByClassName("page-link");
        // 속성값 page-link 값 가진 링크 클릭 시
        Array.from(page_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                document.getElementById('page').value = this.dataset.page;
                // data-page 속성값을 읽어 searchForm의 페이지 필드에 설정
                document.getElementById('searchForm').submit();
                // searchForm을 요청
            });
        });
        const btn_search = document.getElementById("btn_search");
        // 검색 버튼 클릭 시
        btn_search.addEventListener('click', function() {
            document.getElementById('kw').value = document.getElementById('search_kw').value;
            // 검색어의 텍스트 필드에 입력된 값 search_kw을 searchForm의 kw 필드로 설정
            document.getElementById('page').value = 0;  
            // 검색버튼을 클릭할 경우 0페이지부터 조회한다. 
            // ★ 미구현 과제 (1로 출력하는 방법은??)
            document.getElementById('searchForm').submit();
            // searchForm 요청
        });
    </script>
</html>