
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<!-- resources > static > style.css 연결 -->
<!-- static 디렉토리가 static 파일의 루트 디렉터리로 별도 경로 표시안함-->

<h1 th:text ="${question.subject}"></h1>
<tr>
    <td>질문번호</td>
    <td th:text ="${question.id}"></td>
</tr>
<div th:text = "${question.content}"></div>
<h5 th:text = "|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
    <!-- #lists.size : 이터러블 객체, 타임리프 제공 유틸리티로 객체 길이 반환 -->
<div>
    <ul>
        <li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>
    </ul>
</div>
<form th:action="@{|/answer/create/${question.id}|}" method="post">
<!-- localhost:8080/answer/create/<질문id> 호출하는 action-->
    <textarea name ="content" id="content" rows="15"></textarea>
    <input type="submit" value="질문 답변하기">
    <!-- 답변 등록 버튼 클릭 시 POST 방식으로 해당 url이 호출-->
    <!-- 즉 새로고침의 개념으로 이해하면 될 듯-->
</form>